@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
    

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* headings and logo */

h1, h2 {
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero-image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/Best-Views.jpeg') no-repeat center center;
}


/* next step */

#next-step {
    height: 600px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;
    
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 40px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
   
#circle-cover-bg {
    background: url('../css/images/new-york-skyline.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
}

/* action */

#action {
    height: 600px;
}

#left-sign {
    padding-top: 30px;
    width: 50%;
    float: left;
    
}

#right-sign {
    padding-top: 30px;
    width: 50%;
    float: right;

    
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-sign-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#sign-up1 {
    text-align: center;
    margin: 35px;
    font-size: 280%;
}

#circle-container1 {
    width: 350px;
    height: 350px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg {
    background: url('../css/images/resume-action.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* contact1 */

#contact1 {
    height: 100px;
}

#contact-us {
    text-align: center;
    margin: 35px;
    font-size: 280%;
}

#about {
    text-align: center;
    margin: 15px;
}
#about-heading {
    text-align: center;
}




/* footer */

footer {
    height: 150px;
}

.social-network {
    text-align: center;
}

.social-network > li {
    display: inline;

}

.social-network i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;

}
 
/* media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #next-step {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

}